@use '../mix/global' as *;

.header {
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	font-family: $font-family-sans-serif;
	letter-spacing: 1.5px;

	&--front {
		min-height: 80vh;

		@include media-bp-down(md) {
			min-height: 400px;
		}	

		& > .container {
			display: flex;
			justify-content: flex-end;
		}
	}

	&__h1 {
		font-size: 15vh;
		text-align: right;
		width: 80%;
		margin-right: 0;
		padding: 0;
		color: $white;
		line-height: 1;

		@include media-bp-down(md) {
			font-size: 50px;
			text-align: center;
			width: 100%
		}	

		@include media-bp-down(xxl) {
			margin-right: 20px;	
		}

		a {
			color: $white;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
