@use '../mix/global' as *;

html {
	box-sizing: border-box;
	font-family: $font-family-sans-serif;
	line-height: 1.15;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

body {
	color: $black;
	font-size: $font-size-root;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

section,
footer {
	margin-left: auto;
	margin-right: auto;
	max-width: 120rem;
	width: 100%;
}

@include media-bp-down(md) {
	header,
	section,
	footer {
		max-width: 100%;
	}
}

.none {
	display: none;
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 81.25rem;
	width: 100%;
	overflow: hidden;
	clear: both;
}

.site-main {
	background-color: $white;
	background-image: url(@/img/list_pozadí.png);
	background-position: -100% -65%;
	background-repeat: no-repeat;
	background-size: 110%;
}

.sec {
	padding: 3rem 0;
}
