$primary: #AB8F36; 
$secondary: #b7e9f1; 
$tertiary: #00b5e2 ;
$white: #fff ;
$white-dark: #eceff1 ;
$black: #000 ;
$gray: #f5f5f5ae; 
$form-border: #f5f5f5ae ;
$primary-text: #AB8F36;
$secondary-text: #000;
