@use '../mix/global' as *;

.black {
	background-color: $black;

	.container {
		@include display-flex(row, wrap, center, space-between, center);
		padding-top: 0.3125rem;
		gap: 1.875rem;
		@include media-bp-down(md) {
			gap: 0.5rem;
		}		
	}

	&__branding {
		flex: 0 1 10.5rem;
		max-width: 10.5rem;
		order: 0;

		@include media-bp-down(md) {
			margin: 0 auto; 
			flex: 100%; 
			max-width: 100%;
		}		

		@include media-bp-down(xxl) {
			margin-left: 10px;	
		}
	}

	&__kontakt {
		flex: 0 1 11.25rem;
		max-width: 11.25rem;
		
		@include media-bp-down(md) {
			margin: 0 auto 1rem; 
			flex: inherit;
		}		


		&__link {
			background-color: $primary;
			color: $white;
			padding: 0.625rem 0.9375rem 0.5rem;
			text-transform: uppercase;
			font-size: 1.25rem;
			border-radius: 0.3125rem;
			text-decoration: none;

			@include media-bp-down(md) {
				margin: 0 auto; 
			}				

			&:visited {
				color: $white;
			}

			&:focus-visible {
				outline: 1px solid $white;
			}

			&:hover {
				background-color: $white;
				color: $primary;
			}
		}
	}


	&__navigation {
		@include media-bp-down(lg2) {
			margin: 0 auto 1rem;
			order: 1;
		}

		@include media-bp-down(md) {
			width: 100%;
		}


	}


	&__brand {
		width: 100%;
	}
}

.custom-logo-link {
	width: 100%;

	@include media-bp-down(md) {
		text-align: center;
	}	
}

.custom-logo {
	max-width: 10.5rem;
	padding: 0.625rem 0;
	width: 100%;

	@include media-bp-down(md) {
		margin: 0 auto; 
	}		

}
