@use '../mix/global' as *;

.work {
	font-family: $font-family-sans-serif;
	letter-spacing: 1.5px;

	&__title {
		font-family: $font-family-sans-serif;
		letter-spacing: 1.5px;
		font-size: 40px;
		line-height: 1.1;

		@include media-bp-down(md) {
			font-size: 25px;
			padding: 0;			
		}
	}

	&__list {
		@include display-flex(row, wrap, center, center, center);
		gap: 3.75rem 1rem;
		margin: 0;
		padding: 0;			
		
		@include media-bp-down(md) {
			gap: 1rem;

		}
	}

	&__item {
		@include display-flex(row, wrap, center, center, center);

		max-width: 25%;
		flex: 0 0 calc(25% - 15px);
		list-style: none;

		@include media-bp-down(md) {
			max-width: 50%;
			flex: 0 0 calc(50% - 15px);
		}
	}

	&__link {
		@include display-flex(column, wrap, center, space-between, center);

		font-family: $font-family-sans-serif;
		letter-spacing: 1.5px;
		color: $white;
		text-decoration: none;
		font-weight: 500;
		height: 100%;
		width: 100%;

		&:hover {
			text-decoration: underline;
		}
	}

	&__img {
		min-height: 7.8125rem;
	}
}
